@import "/styles/normalize.css";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* color palette */
:root {
  --color-border-red: hsl(0, 78%, 62%);
  --color-border-cyan: hsl(180, 62%, 55%);
  --color-border-orange: hsl(34, 97%, 64%);
  --color-border-blue: hsl(212, 86%, 64%);

  --color-heading: hsl(234, 12%, 34%);
  --color-paragraph: hsl(229, 6%, 66%);
  --color-shadow: hsl(0, 0%, 98%);
}

/* Typograpy */
body {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  margin: 2rem 0;
  padding: 3rem;
  display: grid;
  text-align: center;
  place-content: center;
  place-items: center;
  gap: 3rem;
}

.heading {
  margin: 0;
  font-size: 2.5rem;
}

h1.heading::first-line {
  font-weight: 200;
}

.heading--primary {
  color: var(--color-heading);
}

p {
  max-width: 50rem;
  color: var(--color-paragraph);
  margin: 0;
}

/* grid */
.grid {
  display: grid;
  margin-top: 2rem;
  gap: 2.5rem;
}

@media screen and (min-width: 900px) {
  .grid {
    grid-template-areas:
      "one . four"
      "one . four";
    align-items: center;
  }

  .grid div:first-child {
    grid-area: one;
  }

  .grid div:last-child {
    grid-area: four;
  }
}

/* card */
.card {
  aspect-ratio: 2/1.7;
  border-radius: 5px;
  box-shadow: 0px 12px 21px -1px var(--color-paragraph);
  display: grid;
  overflow: hidden;
  padding: 2rem;
  text-align: left;
  width: 300px;
}

.border--cyan {
  border-top: 4px solid var(--color-border-cyan);
}

.border--red {
  border-top: 4px solid var(--color-border-red);
}

.border--orange {
  border-top: 4px solid var(--color-border-orange);
}

.border--blue {
  border-top: 4px solid var(--color-border-blue);
}

.card span:last-child {
  display: grid;
  place-items: end;
  padding: 2rem;
}
